html {
    font-size:62.5%
}

body {
    font-size:1.4rem;
    font-family: "Hiragino Kaku Gothiv ProN",Meiryo, sans-serif;
}

h1 a, h2 a {
    color:cornflowerblue;
}

.navbar {
    font-size:2.0rem;
    background-color:cornflowerblue;
    color:rgba(255,255,255,1);
    padding:20px 20px 20px 40px;
}

.navbar .navbar-brand {
    font-size:3.0rem;
    background-color:cornflowerblue;
    color:rgba(255,255,255,1);
}

.navbar-light .navbar-nav .nav-link {
    background-color:cornflowerblue;
    color:rgba(255,255,255,1);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background-color:rgba(255,255,0,.5);
    color:rgba(255,255,255,1);
}

.content {
    margin-top: 20px;
    margin-left: 40px;
}

.date {
    color:#000000
}

.post {
    margin-bottom:70px;
}

.post h2 a, .post h2 a:visited {
    color:#000000;
}
